*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.2rem;
	box-sizing: border-box;
	letter-spacing: 0.5px;

	@media only screen and (max-width: 37.5em) {
		font-size: 3rem;
	}

	@media only screen and (max-width: 28em) {
		font-size: 4rem;
	}
}

html {
	font-size: 100%; // 62.5 = 10px , 100 = 16px

	//max-width
	@media only screen and(max-width: 84em) {
		font-size: 93.75%;
	}

	@media only screen and(max-width: 75em) {
		font-size: 87.5;
	}

	@media only screen and (max-width: 68.75em) {
		font-size: 81.25%;
	}

	// min-width
	@media only screen and (min-width: 93.75em) {
		font-size: 106.25%;
	}

	@media only screen and (min-width: 115em) {
		font-size: 120%;
	}
}

// Heading

.heading-1 {
	font-size: 3rem;
	font-weight: 500;

	@media only screen and (max-width: 37.5em) {
		font-size: 6rem;
	}
}

.heading-2 {
	font-size: 2.5rem;
	font-weight: 500;

	@media only screen and (max-width: 37.5em) {
		font-size: 5rem;
	}
}

.heading-3 {
	font-size: 2rem;
	font-weight: 400;

	@media only screen and (max-width: 37.5em) {
		font-size: 3.5rem;
	}

	@media only screen and (max-width: 28em) {
		font-size: 4.5rem;
	}
}

.heading-4 {
	font-size: 1.8rem;

	font-weight: 500;

	@media only screen and (max-width: 37.5em) {
		font-size: 3.25rem;
	}

	@media only screen and (max-width: 28em) {
		font-size: 4.25rem;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
